<%= form_for @dining_table , :remote => true do |f|%>
<%= f.hidden_field :current_order_id, value: nil %>
  	<div class="list no-hairlines-md">
		<ul>
			<li class="item-content item-input">
				<div class="item-inner">
					<div class="item-title item-label">自定义桌号</div>
					<div class="item-input-wrap">
						<%= f.text_field :name_of, placeholder: "自定义桌号", id: "chooseNameTable", :onkeyup => "getLink()"%>
						<span class="input-clear-button" onclick="getLink()"></span>
					</div>
				</div>
			</li>
			<li class="item-content item-input item-input-with-value">
<div class="item-inner">
<div class="item-title item-label">人数 </div>
<div class="item-input-wrap input-dropdown-wrap">
<select placeholder="Please choose..." class="input-with-value" id="chooseNbPeople" onchange="getLink()">
<option value=""></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select>
</div>
</div>
			</li>
			<li class="item-content item-input" id="but_link"></li>
		</ul>
	</div>
	<% end %>
