<div class="page">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link icon-only panel-open" data-panel="left">
                      <i class="icon f7-icons ios-only">menu</i>
                <i class="icon material-icons md-only">menu</i>
              </a>
            </div>
            <div class="title sliding">中国城中餐自助</div>
            <div class="right">
              <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                <i class="icon f7-icons ios-only">search_strong</i>
                <i class="icon material-icons md-only">search</i>
              </a>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
              <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                  <input type="search" placeholder="Search components"/>
                  <i class="searchbar-icon"></i>
                  <span class="input-clear-button"></span>
                </div>
                <span class="searchbar-disable-button">Cancel</span>
              </div>
            </form>
          </div>
        </div>
        <div class="page-content">
	  <div class="block-title searchbar-found">请点击加号添加餐桌 ：</div>
          <div class="list components-list searchbar-found">
		  <ul class="actions-grid">
                        <div class="actions-group">
                    <% @dining_tables.each do |dt| %>
                                          <div class="actions-button">
                                                <li class="actions-button-text" style="height:auto;">
                                                        <div class="actions-button-media" style="width:auto;">
                                                                <% if dt.try(:active_order).try(:encour) %>
                                                                        <a href="<%=order_path(dt.current_order_id)%>" class="item-content item-link" style="padding:0;"><img src="/assets/keman.jpg" width="90"></a>
                                                                <% else %>
                                                                        <a href="<%=edit_dining_table_path(dt)%>" class="item-content item-link" style="padding:0;"><img src="/assets/keman.jpg" width="90"></a>
                                                                <% end %>
                                                        </div>
                                                        <%= link_to raw("<div class='item-inner' style='padding:none;'><div class='item-title'>#{dt.name_of}</div></div>"), edit_dining_table_path(dt), {class: "item-content item-link", style: "background;none"}  %>
                                                </li>
                                          </div>
                          <% end %>
                          <div class="actions-button">
                                                <li class="actions-button-text" style="height:auto;">
                                                        <div class="actions-button-media" style="width:auto;">
                                                                <a href="<%=new_dining_table_path%>" class="item-content item-link" style="padding:0;"><img src="/assets/kekong_new.jpg" width="90"></a>
                                                        </div>
                                                </li>
                                          </div>
                        </div>
                </ul>
           </div>
        </div>
</div>
	<script>
/*
return {
  methods: {
    openGrid: function () {
      var self = this;
      self.actionsGrid.open();
    },
  },
  on: {
    pageBeforeRemove() {
      var self = this;
      self.actionsGrid.destroy();
    },
    pageInit: function(page) {
      var self = this;// Grid buttons with icons/images
      var gridButtons = [
        [
          {
            text: 'Button 1',
            icon: '<img src="http://lorempixel.com/96/96/people/1" width="48"/>'
          },
          {
            text: 'Button 2',
            icon: '<img src="http://lorempixel.com/96/96/people/2" width="48">'
          },
          {
            text: 'Button 3',
            icon: '<img src="http://lorempixel.com/96/96/people/3" width="48">'
          },
        ],
        [
          {
            text: 'Button 1',
            icon: '<img src="http://lorempixel.com/96/96/fashion/4" width="48"/>'
          },
          {
            text: 'Button 2',
            icon: '<img src="http://lorempixel.com/96/96/fashion/5" width="48">'
          },
          {
            text: 'Button 3',
            icon: '<img src="http://lorempixel.com/96/96/fashion/6" width="48">'
          },
        ],
      ]

      self.actionsGrid = self.$app.actions.create({buttons: gridButtons, grid: true});
    }
  }
}*/
</script>
