<br><br>
<form>
	<input type="hidden" value="<%=@order.id%>" id="orderId" />
<div class="data-table">
			<div class="card">
				<div class="row">
					<div class="col-50 card-content card-content-padding">共计 ：<b style="font-size: 20px; color: #cc0000;" id="amountTotal"><%= @order.order_items.map(&:amount).sum%></b></div>
					<div class="col-50 card-content card-content-padding">剩余 ：<b style="font-size: 20px; color: #cc0000;" id="restOfMoney"></b></div>
				</div>
			</div>

			<div class="list no-hairlines-md" style="padding:0;margin:0;">
			      <ul>
				<li class="item-content item-input">
				  <div class="item-media">
<i class="material-icons">
euro_symbol
</i>
				  </div>
				  <div class="item-inner">
				    <div class="item-input-wrap">
					    <input type="number" id="cash" placeholder="现金" onfocus="if((this.value == '' && $('#cart').val() == '' && $('#cheque').val() == '' && $('#tkresto').val() == '' && $('#others').val() == '')){}else{this.value = getval()}" onblur="calcul()">
				      <span class="input-clear-button" onclick="calcul()"></span>
				    </div>
				  </div>
				</li>
				<li class="item-content item-input">
				  <div class="item-media">
				    <i class="material-icons">
credit_card
</i>
				  </div>
				  <div class="item-inner">
				    <div class="item-input-wrap">
					    <input type="number" id="cart" placeholder="银行卡" onfocus="if((this.value == '' && $('#cash').val() == '' && $('#cheque').val() == '' && $('#tkresto').val() == '' && $('#others').val() == '')){}else{this.value = getval()}" onblur="calcul()">
				      <span class="input-clear-button" onclick="calcul()"></span>
				    </div>
				  </div>
				</li>
				<li class="item-content item-input">
				  <div class="item-media">
				  <i class="material-icons">
picture_in_picture
</i>
				  </div>
				  <div class="item-inner">
				    <div class="item-input-wrap">
					    <input type="number" id="cheque" placeholder="支票" onfocus="if((this.value == '' && $('#cart').val() == '' && $('#cash').val() == '' && $('#tkresto').val() == '' && $('#others').val() == '')){}else{this.value = getval()}" onblur="calcul()">
				      <span class="input-clear-button" onclick="calcul()"></span>
				    </div>
				  </div>
				</li>
				<li class="item-content item-input">
				  <div class="item-media">
					  <i class="material-icons">
receipt
</i>
				  </div>
				  <div class="item-inner">
				    <div class="item-input-wrap">
					    <input type="number" id="tkresto" placeholder="饭票" onfocus="if((this.value == '' && $('#cart').val() == '' && $('#cheque').val() == '' && $('#cash').val() == '' && $('#others').val() == '')){}else{this.value = getval()}" onblur="calcul()">
				      <span class="input-clear-button" onclick="calcul()"></span>
				    </div>
				  </div>
				</li>
				<li class="item-content item-input">
				  <div class="item-media">
					  <i class="material-icons">
help_outline
</i>
				  </div>
				  <div class="item-inner">
				    <div class="item-input-wrap">
					    <input type="number" id="others" placeholder="其他" onfocus="if((this.value == '' && $('#cart').val() == '' && $('#cheque').val() == '' && $('#tkresto').val() == '' && $('#cash').val() == '')){}else{this.value = getval()}" onblur="calcul()">
				      <span class="input-clear-button" onclick="calcul()"></span>
				    </div>
				  </div>
				</li>
			      </ul>
			    </div>

			<div class="block">
				<p class="row" id="but_link">
				</p>
			</div>
</div>
</form>
